<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 对应 dao 中的 接口 -->
<mapper namespace="com.luchao.dao.MenuMapper">
	<resultMap type="com.luchao.entity.Menu" id="MenuMap">
		<id property="menuId" column="menu_id"/>
		<result property="menuName" column="menu_name"/>
		<result property="menuUrl" column="menu_url"/>
		<result property="pid" column="pid"/>		
	</resultMap>
  

   
   
    
    
    
    
    

</mapper>
