<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>BWFUIFramework</title>
		<link rel="stylesheet" href="${rc.contextPath}/css/bootstrap.min.css" />
		<link rel="stylesheet" href="${rc.contextPath}/css/animate.min.css" />
		<script type="text/javascript" src="${rc.contextPath}/js/jquery.min.js" ></script>
		<script type="text/javascript" src="${rc.contextPath}/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="${rc.contextPath}/js/wow.js" ></script>
		<link rel="stylesheet" href="${rc.contextPath}/css/global.css" />
		<script type="text/javascript" src="${rc.contextPath}/js/global.js" ></script>
		<script type="text/javascript">
			$(function(){
				$('.btn-step').click(function(){
					//index值是从0开始，选项1的val值也要从0开始
					var lastindex = $(".btn-step").index($(".btn-primary"));
					var index=$(this).val();
					
					
					
					$(".panel-step-body").eq(lastindex).delay(300).hide();
					$(".panel-step-body").eq(index).delay(400).show();
					
					
					$(".btn-step").eq(lastindex).removeClass("btn-primary").addClass("btn-default");
					$(".btn-step").eq(index).removeClass("btn-default").addClass("btn-primary");
					
					
				})
				
			})
		</script>
	</head>
	<body>
		
			<div class="panel panel-default">
				<div class="panel-heading">
					<button type="button" class="btn btn-default btn-back btn-sm" onclick="history.back()"> 返 回 </button>&nbsp;&nbsp;面板标题
				</div>
				<div class="panel-body">
					
					<form action="" method="post" role="form">
					<div class="panel panel-default panel-step">
						<div class="panel-heading panel-step-head" style="background-color: transparent; ">
							<div class="panel-step-btn-group" >
								<button type="button" class="btn btn-primary btn-step" value="0"> 步骤选项一 </button>
								<button type="button" class="btn btn-default btn-step" value="1"> 步骤选项二 </button>
								<button type="button" class="btn btn-default btn-step" value="2"> 步骤选项三 </button>
								
							</div>
						</div>
						<div class="panel-body panel-step-body" >
							本模板基于Bootstrap框架实现，支持所有Bootstrap插件。<br />
							模板中CSS动画效果基于Animate.CSS框架和WOW.Js框架实现，支持所有Animate.CSS中动画效果。<br />
							模板中所有Dom监听事件基于JQuery框架实现，支持所有JQuery插件，当前版本jquery-1.8.3。
						</div>
						
						<div class="panel-body panel-step-body" >
							<table class="table table-bordered table-responsive table-condensed">
							<tr>
								<td>当前版本</td>
								<td>v1.0.1</td>
							</tr>
							<tr>
								<td>开发作者</td>
								<td>博为峰教学部</td>
							</tr>
							<tr>
								<td>网站首页</td>
								<td>index.html</td>
							</tr>
							<tr>
								<td>服务器环境</td>
								<td>MS Window Server 2008</td>
							</tr>
							<tr>
								<td>数据库产品</td>
								<td>Oracle oracle</td>
							</tr>
							<tr>
								<td>数据库版本</td>
								<td>Oracle oracle 11g</td>
							</tr>
							<tr>
								<td>最大上传限制</td>
								<td>2Mb</td>
							</tr>
							<tr>
								<td>当前用户权限</td>
								<td>系统管理员</td>
							</tr>
						</table>
						</div>
						<div class="panel-body panel-step-body" >
							<ul class="list-group">
							<li class="list-group-item">
								<a href=""><div class="list-group-item-text">上海博为峰软件技术股份有限公司</div>
								<div class="list-group-item-text text-right">2017-09-23 12:32:23</div></a>
							</li>
							<li class="list-group-item">
								<a href=""><div class="list-group-item-text">上海博为峰软件技术股份有限公司</div>
								<div class="list-group-item-text text-right">2017-09-23 12:32:23</div></a>
							</li>
							<li class="list-group-item">
								<a href=""><div class="list-group-item-text">上海博为峰软件技术股份有限公司</div>
								<div class="list-group-item-text text-right">2017-09-23 12:32:23</div></a>
							</li>
							<li class="list-group-item">
								<a href=""><div class="list-group-item-text">上海博为峰软件技术股份有限公司</div>
								<div class="list-group-item-text text-right">2017-09-23 12:32:23</div></a>
							</li>
							<li class="list-group-item">
								<a href=""><div class="list-group-item-text">上海博为峰软件技术股份有限公司</div>
								<div class="list-group-item-text text-right">2017-09-23 12:32:23</div></a>
							</li>
							<li class="list-group-item">
								<a href=""><div class="list-group-item-text">上海博为峰软件技术股份有限公司</div>
								<div class="list-group-item-text text-right">2017-09-23 12:32:23</div></a>
							</li>
						</ul>
						</div>
						
						<div class="panel-footer panel-tab-footer">
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-step-prev"> 上一步 </button>
								<button type="button" class="btn btn-default btn-step-next"> 下一步 </button>
								<button type="submit" class="btn btn-danger btn-step-submit"> 提交表单 </button>
							</div>
						</div>
						
					</div>
					</form>
				</div>
			</div>
			

		<div style="height: 80px;"></div>
	</body>
</html>

