
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>BWFUIFramework</title>
<link rel="stylesheet" href="${rc.contextPath}/css/bootstrap.min.css" />
<link rel="stylesheet" href="${rc.contextPath}/css/animate.min.css" />
<script type="text/javascript" src="${rc.contextPath}/js/jquery.min.js"></script>
<script type="text/javascript"
	src="${rc.contextPath}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/wow.js"></script>
<link rel="stylesheet" href="${rc.contextPath}/css/global.css" />
<script type="text/javascript" src="${rc.contextPath}/js/global.js"></script>
<script type="text/javascript">
	$(function(){
		 $("#btn-submit").click(function(){
		 		var html=$("#formAffair").html();
		 		var affairModuleId=${affairModuleId}+'';
		 		
		 		
		 		
					$.ajax({
						type : "POST",
						<!--批量删除的进入路径，-->
						url : "${rc.contextPath}/affair/doadd",
						data : {
							"html" : html,
							"affairModuleId":affairModuleId
						},
						datatype : "html",
						success : function(data) {
							alert("增加成功")
							location.reload();
						//页面刷新 
						},
						error : function(data) {
							alert("增加失败！未知错误！")
						}			
				})
		 })
		
		 
		})
</script>
</head>
<body>


	<div class="panel panel-default">
		<button type="button" class="btn btn-default btn-back btn-sm"
			onclick="history.back()">返 回</button>
		&nbsp;&nbsp;创建新公文


		<form class="form-horizontal" role="form"
			action="${rc.contextPath}/affair/doadd" method="post" id="formAffair">
			<div class="form-group">
				<#list modeloptions as mo> <#if mo.moduleOptionsId=1>
				<!-- 单行文本框 --> <label for="firstname" class="col-sm-2 control-label">${mo.moduleOptionsName}</label>
				<div class="col-sm-10">
					<input type="text" class="form-control " id="firstname"
						placeholder="" name="${mo.moduleOptionsId}">
				</div>
				<br>
				<br>
			</div>
			<div class="form-group">
				<#elseif mo.moduleOptionsId=2> <!-- 文本域 --> <label for=""
					class="col-sm-2 control-label">${mo.moduleOptionsName}</label>
				<div class="col-sm-10">
					<textarea class="form-control col-sm-10 "
						name="${mo.moduleOptionsId}"></textarea>
				</div>
				<br>
				<br>
			</div>
			<div class="form-group">
				<#elseif mo.moduleOptionsId=3> <!-- 多选框 --> <label for=""
					class="col-sm-2 control-label yuansu">${mo.moduleOptionsName}</label>
				<div class="col-sm-10">
					<!-- 遍历选项 -->
					<#list mo.moduleOptionsData?split("，") as data> <label
						class="checkbox-inline yuansu"> <input type="checkbox"
						value="" class="" name="${mo.moduleOptionsId}">${data}
					</label> </#list>
				</div>
				<br>
				<br>
			</div>
			<div class="form-group">
				<#elseif mo.moduleOptionsId=4> <!-- 单选 --> <label for=""
					class="col-sm-2 control-label ">${mo.moduleOptionsName}</label>
				<div class="col-sm-10">
					<#list mo.moduleOptionsData?split("，") as data> <label
						class="radio-inline"> <input type="radio" value="${data}"
						class="" name="${mo.moduleOptionsId}">${data}
					</label> </#list>
				</div>
				<br>
				<br>
			</div>
			<div class="form-group">
				<#elseif mo.moduleOptionsId=5> <!-- 下拉菜单 --> <label
					class="col-md-2 control-label col-sm-2" for="">${mo.moduleOptionsName}</label>
				<div class="col-md-10 col-sm-10">
					<select class="form-control " name="${mo.moduleOptionsId}">
						<#list mo.moduleOptionsData?split("，") as data>
						<option>${data}</option>
						</#list>
					</select>
				</div>
				<br>
				<br>
			</div>
			<div class="form-group">
				<#elseif mo.moduleOptionsId=6> <!-- 日期时间 --> <label for=""
					class="col-md-2 control-label col-sm-2">${mo.moduleOptionsName}</label>
				<div class="col-md-10 col-sm-10">
					<input type="datetime-local" class="form-control "
						name="${mo.moduleOptionsId}" placeholder="请输入日期">
				</div>
				<br>
				<br>
				</#if>
				</#list>
			</div>




		</form>
		<div class="col-sm-offset-2 col-sm-10">
			<button type="button" class="btn btn-default" id="btn-submit">确认提交</button>
		</div>

	</div>


	<div style="height: 80px;"></div>
</body>
</html>

