<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>BWFUIFramework</title>
<link rel="stylesheet" href="${rc.contextPath}/css/bootstrap.min.css" />
<link rel="stylesheet" href="${rc.contextPath}/css/animate.min.css" />
<script type="text/javascript" src="${rc.contextPath}/js/jquery.min.js"></script>
<script type="text/javascript"
	src="${rc.contextPath}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/wow.js"></script>
<link rel="stylesheet" href="${rc.contextPath}/css/global.css" />
<script type="text/javascript" src="${rc.contextPath}/js/global.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/Calendar3.js"></script>
<script type="text/javascript">
	$(function() {
		//单个删除
		$(".btn-delete").click(function() {

			var id = $(this).prev().val();

			if (confirm("确定删除id为" + id + "的用户？")) {
				location.href = "${rc.contextPath}/user/delete/" + id
			}
		})
		//批量删除
		$("#deletesome").click(function() {
			var checkedNum = $("input[name='id']:checked").length;
			if (checkedNum == 0) {
				alert("请至少选择一项!");
				return false;
			}
			if (confirm("确定删除所选项目?")) {
				var checkedList = new Array();
				$("input[name='id']:checked").each(function() {

					checkedList.push($(this).val());
				});
				$.ajax({
					type : "POST",
					<!--批量删除的进入路径，-->
					url : "${rc.contextPath}/user/delete/some",
					data : {
						"deleteIds" : checkedList.toString()
					},
					datatype : "html",
					success : function(data) {
						$("input[name='id']").prop("checked", false);
						location.reload();
					//页面刷新 
					},
					error : function(data) {
						alert("删除失败！未知错误！")
					}
				});
			}


		})
		//增加user操作
		$("#adduser").click(function() {

			location.href = "${rc.contextPath}/user/add"

		})
		
		//分页操作开始
		$("#btnFirst").click(function() {

			

			
				location.href = "${rc.contextPath}/user/show?page=1"
			
		})
		
		$("#btnLast").click(function(){
			
			location.href="${rc.contextPath}/user/show?page="+$("#allpages").val();
		})
		$("#btnPrev").click(function(){
			
			location.href="${rc.contextPath}/user/show?page="+(parseInt($("#currentPage").val())-1);
		})
		$("#btnNext").click(function(){
			
			location.href="${rc.contextPath}/user/show?page="+(parseInt($("#currentPage").val())+1);
		})
		
		$(".pages").click(function(){
		
			location.href="${rc.contextPath}/user/show?page="+$(this).val();	
		})
		
		
		
		
	})
</script>
</head>
<body>



	<div class="panel panel-default">
		<div class="panel-heading">
			<button type="button" class="btn btn-default btn-back btn-sm"
				onclick="history.back()">返 回</button>
			&nbsp;&nbsp; 员工管理
			<div class="btn-group btn-group-sm pull-right">
				<button type="button" class="btn btn-default btn-where">
					<span class="arrow-up"></span> 隐藏搜索条件
				</button>
				<button type="button" class="btn btn-default" id="deletesome">
					<img src="${rc.contextPath}/img/7.png" height="16px" />
					&nbsp;&nbsp;批量删除
				</button>
				<button type="button" class="btn btn-default" id="adduser">
					<img src="${rc.contextPath}/img/plus.png" height="16px" />
					&nbsp;&nbsp;添加数据
				</button>
			</div>
		</div>

		<div class="panel-body">

			<!--
                        	作者：titushan2010@163.com
                        	时间：2017-09-25
                        	描述：搜索条件
                        -->
			<form action="${rc.contextPath}/user/show" method="GET" role="form"
				name="form1" id="form1">
				<div class="row row-where">

					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
						<input type="text" name="nickname" class="form-control"
							placeholder="请输入用户的昵称" />
					</div>








					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
						<button type="submit" class="btn btn-darkgreen form-control">
							搜索用户</button>
					</div>
				</div>

			</form>
			<!--
                        	作者：titushan2010@163.com
                        	时间：2017-09-25
                        	描述：表格显示部分
                        -->
			<form action="" method="GET" role="form">
				<table
					class="table table-bordered table-condensed table-hover table-responsive cbx-group"
					style="margin-top: 20px;">
					<thead>
						<tr>
							<th class="td-checkbox"><input type="checkbox"
								class="cbx-all" /></th>
							<th>员工编号</th>
							<th>用户名</th>
							<th>昵称</th>
							<th>上级领导</th>
							<th>下级员工</th>
							<th>头像</th>
							<th>操作选项</th>
						</tr>
					</thead>
					<tbody>

						<#list users as user>
						<tr>
							<td align="center" class="td-checkbox"><input
								type="checkbox" name="id" value="${user.userId}" /></td>
							<td>${user.userId}</td>
							<td>${user.username}</td>
							<td>${user.nickname}</td>
							<td>${user.leader.nickname}</td>
							<td><#list user.subordinates as user1>
								${user1.nickname} </#list></td>
							<td><img src="${rc.contextPath}/img/dogs/${user.avater}"
								height="20px" class="img img-circle" /></td>
							<td width="120px"><span class="btn-group btn-group-xs">
									<button type="button" class="btn btn-default">查看</button>
									<button type="button" class="btn btn-default">编辑</button> <input
									type="hidden" value="${user.userId}">
									<button type="button" class="btn btn-danger btn-delete">删除</button>
							</span></td>
						</tr>
						</#list>
					</tbody>
					<tfoot>

					</tfoot>
				</table>
			</form>
			
			<div class="row">
				<div class="col-lg-8 col-md-7 col-sm-7 col-xs-5">
					<div class="btn-group btn-group-sm">

						<button type="button" class="btn btn-darkgreen firstpage"
							id="btnFirst">
							<span class="hidden-xs hidden-sm"> 首 页 </span> <span
								class="hidden-lg hidden-md"> |&lt; </span>
						</button>
						<#if pagebean.hasFirst=0>
						<button type="button" class="btn btn-darkgreen firstpage"
							id="btnPrev">
							<span class="hidden-xs hidden-sm"> 上一页 </span> <span
								class="hidden-lg hidden-md"> &lt;&lt; </span>
						</button>
						</#if>
						<input type="hidden" value="${pagebean.allpages}" id="allpages">
						<#list pages as pages1> <#if pages1=pagebean.pageNow>
						<button type="button" class="btn btn-primary pages" value="${pages1}" id="currentPage">
							${pages1}</button>
						</#if>
						 <#if pages1!=pagebean.pageNow>
						<button type="button" class="btn btn-default pages" value="${pages1}">
							${pages1}</button>
						</#if> 
						</#list>


						<#if pagebean.hasLast=0>
						<button type="button" class="btn btn-darkgreen lastpage" id="btnNext">
							<span class="hidden-xs hidden-sm"> 下一页 </span> <span
								class="hidden-lg hidden-md"> &gt;&gt; </span>
						</button>
						</#if>
						<button type="button" class="btn btn-darkgreen lastpage" id="btnLast">
							<span class="hidden-xs hidden-sm"> 末 页 </span> <span
								class="hidden-lg hidden-md"> &gt;| </span>
						</button>

					</div>

				</div>

			</div>
			






		</div>
	</div>


	<div style="height: 80px;"></div>
</body>
</html>

